<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <ui:composition template="/WEB-INF/template.xhtml">
        <ui:define name="conteudo">
            <ui:include src="formulario.xhtml"/>
            <h:form rendered="#{clienteControle.viewList}">
                <p:dataTable id="tabCliente"
                             value="#{clienteControle.listaCliente}"
                             var="item"
                             selectionMode="single"
                             selection="#{clienteControle.cliente}"
                             rowKey="#{item.id}"
                             paginator="true"
                             rows="10"
                             paginatorPosition="bottom"
                             reflow="true">
                    <p:ajax event="rowSelect" update="alterar deletar"/>
                    <p:ajax event="rowUnselect" update="alterar deletar"/>
                    <p:column headerText="ID">
                        <h:outputText value="#{item.id}"/>
                    </p:column>
                    <p:column headerText="Nome">
                        <h:outputText value="#{item.pessoa.nome}"/>
                    </p:column>
                    <p:column headerText="Fone">
                        <h:outputText value="#{item.pessoa.fone}"/>
                    </p:column>
                    <p:column headerText="Endereço">
                        <h:outputText value="#{item.pessoa.endereco}"/>
                    </p:column>
                    <f:facet name="footer">
                        <p:commandButton id="novo" value="Novo"
                                         action="#{clienteControle.criaCliente()}"
                                         ajax="false"/>
                        <p:commandButton id="alterar" value="Alterar"
                                         disabled="#{empty clienteControle.cliente.id}"
                                         action="#{clienteControle.alterar()}"
                                         ajax="false"/>
                        <p:commandButton id="deletar" value="Excluir"
                                         disabled="#{empty clienteControle.cliente.id}"
                                         action="#{clienteControle.excluir()}"
                                         update="tabCliente">
                            <p:confirm header="Confirmação de exclusão" message="Deseja excluir?" 
                                       icon="ui-icon-alert" />
                        </p:commandButton>
                    </f:facet>
                </p:dataTable>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
